/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #0078d7;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
}

/* Conteúdo */
section {
    background-color: white;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

/* Títulos */
h2 {
    color: #0078d7;
    margin-bottom: 15px;
}

/* Parágrafos */
p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
}

/* Lista de hobbies */
ul {
    margin-left: 25px;
}

li {
    margin-bottom: 10px;
}

/* Imagem do hobby */
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 100%;
}

/* Tabela */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th {
    background-color: #4a90e2;
    color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

/* Links */
a {
    color: #0078d7;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #0078d7;
    color: white;
}

/* Botão e mensagem */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#mensagem {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: #0078d7;
}